*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background-image: url(./Images/12.jpg);
    /* background-position:center; */
    color: #ddd;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(https://wallpapercave.com/uwp/uwp304966.gif);
    background-size:cover;
    background-position:center;
}
.container{
    padding: 15px 10%;
    text-align: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content:right;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight:60;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background:#FFD700;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition:0.5s ;
}

nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 8%;
    font-size: 30px;
    text-align: left;

}
.header-text p {
    
    margin-bottom: 50px;
}
.header-text h1{
    font-size: 58px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #D6ED17FF;
}

.btn{
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f; 
     color: #080808; 
    font-weight: bold; 
}



/* ------about----- */

#about{
    /* text-align: center; */
    /* padding:80px 0; */
    padding-top: 50px;
    color: #ababab;
    /* border: 1px solid red; */
    margin-bottom: 200px;
   }
   #h11{
    text-align: center;
    padding-bottom: 20px;
    /* border:1px solid red; */
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 30%;
    text-align: left;
    padding-left: 180px;
    margin-top: 70px;
}

.about-col-1 img{
    /* padding:80px 0; */
    width: 100%;
    /* margin-top: 20px; */
    /* margin-bottom: 20%; */
    border-radius: 25px;

    border: 1px solid goldenrod;
}

.about-col-2{
    /* padding:80px 0; */
    flex-basis: 65%;
    /* padding-right: 80px; */
    /* margin-top: 50px;  */
    /* border: 1px solid red; */
}
.details{
    margin-top: 20px;
    color: #ff004f;
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
}
.sub-title{
    /* margin-bottom: 50px; */
     font-size: 60px;
    font-weight: 600;
    color: #fff748;
       /* color: #ff004f; */
    text-decoration:underline;

font-family: 'Cormorant SC', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Serif', serif;
}

.tab-titles{
    display: flex;
    margin: 30px;
    justify-content:space-around;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;  
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents .fa-solid{
    color: #b54769;
}
.tab-contents.active-tab{
    display: block;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.header-text a{
    margin-top: 100px;
}

.btn{
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f; 
    color: #080808; 
     font-weight: bold; 

}

/* Tech Stack */

#skills{
    padding: 30px 0;
}
.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.skills-list div{
    background: #262626;
    padding: 40px ;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.skills-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.skills-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.skills-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display:inline-block ;
}
.skills-list div:hover{
    background-color: gold;
    color: #ff004f;
    transform: translateY(-10px);
}

/* Skills */

#skil{
    padding-top: 20px;
    margin-top: 80px;
}
.heade{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    position: relative;
    /* margin-bottom: 20px; */
    /* text-decoration:underline; */
}

.heade::after{
content: '';
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
height: 4px;
width: 100px;
/* background-color: #2ecc71; */
}

.containe{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-bo{
    padding: 1rem;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
}

.skill-bo p{
    background-color:rgba(0,0,0,0.7) ;
    padding: 4px;
}

.skill-bo:hover > .skill-titl::after , .skill-bo:hover > .skill-titl::before{
width:35px ;
}

.imgg{
    transition: 0.5s;
}

.skill-bo:hover .imgg{
    transform: translateY(-20px);
}

.skill-titl{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-titl::after{
  content: '';
  position: absolute;
  bottom: 0;
  right:50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #ff004f;
  transition: .5s;
}

.skill-titl::before{
    content: '';
    position: absolute;
    bottom: 0;
    left:50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #ff004f;;
    transition: .5s;
  }

.skill-titl h3{
    padding-top: 100px;
    /* color: #fff; */
    color: palegoldenrod;
    margin-top: 0.5rem;
}

.skill-ico{
    width: 50;
    height: 250px;
    width: 250px;
    /* padding: 20px; */
    /* padding-bottom: 10px; */
    border-radius:51% ;
    border: 5px outset #ff004f ;
    }

/* projects */

#project{
    padding: 50px 0;
    margin-top: 80px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    /* background-image: linear-gradient( 135deg, #FFDB01 10%, #0E197D 100%); */
    /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
    background: linear-gradient(rgba(0,0,0,0.7), #EC4D37);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    transition:height 0.8s;
}
.layer h2{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 30px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    background: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    text-align: center;
}
.work:hover img{
  transform: scale(1.2);
}
.work:hover .layer{
    height: 100%;
}

/* contacts */

.social-icons{
    margin-top: 30px; 
 }
.social-icons a{
    text-decoration: none;
    font-size: 50px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
    text-align: center;
    padding-top: 20px;
    padding-left: 130px;
    padding-right: 130px; 

}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.header-text a{
    margin-top: 100px;
}


/* copyright */

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 2px;
    background-color: #262626;
    font-weight: 300;
    /* margin-top:50px; */
}
.copyright i{
    color: #ff004f;
}

/* * -------------- css for small screen ---------------  */

nav .fa-solid{
    display:none;
}

/* ---------Tab---------- */

@media only screen and (max-width: 830px) {

    /* ----------header-------- */

    #header{
        width: 118%;
        height: 116vh;
        background-image: url(https://wallpapercave.com/uwp/uwp304966.gif);
        background-size:cover;
        background-position:center;
        margin-bottom: 45px;
        
    }

    .header-text{
        margin-top: 50px;
        padding-left: 0px;
        font-size: 28px;
        text-align: center;
        
        
        
     }
    .header-text h1{
        margin-top: 30px;
        margin-bottom: 400px;
        font-size: 40px;
        /* border: 1px solid green; */
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background-color: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 116vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.9s;
    } 
      nav ul li{
        display: block;
        margin: 25px;
    }
    
    nav ul .fa-solid{
          position: absolute;
          top: 25px;
          left: 95px;
          cursor: pointer;
    } 

    
    /* ---------about-------- */
   
    .sub-title{
        font-size: 49px;
        margin-bottom: 50px;
        /* border: 1px solid honeydew; */
    }
    #h11{
        text-align: center;
        /* border:1px solid red; */
    }
     .about-col-2{
        /* text-align: center; */
        margin-top: 50px;
        margin-left: 180px;
        /* border: 1px solid red; */
    
     }
    .about-col-1 img{ 
        width: 200px;
        margin-top: -35px;
        margin-left: 150px;
        border-radius: 25px; 
    
        border: 1.5px solid gold;
    }
    
    .details{
        text-align:justify;
        /* padding: 0 14px; */
        color:#ff004f;
        font-weight: bold;
        line-height: 28.9px;
        font-family:Arial, Helvetica, sans-serif;
        font-style: italic;
    }

    .tab-titles{
        /* display: flex; */
        margin: 30px;
        justify-content: space-between;
        /* padding: 20px; */
        /* text-align: center; */
        /* border: 1px solid greenyellow; */
    }

/* ---------Tech Stack---------- */

#TechStack{
    /* border: 1px solid red; */
    margin-top: 80px;
    /* margin-bottom: 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    margin-left: 45px;

}


#skills{
    padding: 30px;
}
.skills-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:40px;
    margin-top: 50px;
}
.skills-list div{
    background: #262626;
    padding: 40px ;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.skills-list div i{
    font-size: 100px;
    margin-bottom: 30px;
}

/* -----------skills------------ */

#skil{
    /* border: 1px solid red; */
    margin-top: 150px;
    margin-left: 50px;

}

.heade{
    margin-bottom: -25px;

}

.containe{
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    padding: 1px;
    /* border: 1px solid orange; */
}

.containe{
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    font-size: 1.2rem;
}

.skill-bo{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
    /* border: 1px solid fuchsia; */
}

.skill-bo > p{
/* border: 1px solid red; */
padding: 20px 0;
text-align:center;
font-size: 20px;
line-height: 30px;
margin-top: -20px;
}

.skill-bo:hover > .skill-titl::after , .skill-bo:hover > .skill-titl::before{
width:35px ;
}

.imgg{
    transition: 0.5s;
}

.skill-bo:hover .imgg{
    transform: translateY(-20px);
}

.skill-titl{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-titl::after{
  content: '';
  position: absolute;
  bottom: 0;
  right:50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #ff004f;
  transition: .5s;
}

.skill-titl::before{
    content: '';
    position: absolute;
    bottom: 0;
    left:50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #ff004f;;
    transition: .5s;
  }


.skill-titl h3{
    padding-top: 25px;
    padding-bottom: 50px;
    color: #fff;
    margin-top: 0.5rem;
}

.skill-ico{
    height: 190px;
    width: 180px;
    margin-top: 40px;
    border-radius:51% ;
    border: 1.5px solid gold;
    }

    /* ----------Project------------- */

    #project{
        /* padding: 50px 0; */
        padding: 0px;
        /* border: 1px solid red; */
        margin-top: 150px;
        margin-left: 50px;
    }

    .work img{
        width: 450%;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
    }
    .work:hover img{
      transform: scale(57.5);
    }

    
/* contacts */

#contact{
    /* border: 1px solid red; */
    margin-top: 150px;
    margin-left: 50px;;

}

.social-icons{     
    margin-top: 25px; 
    
 }
 #ch1{
    /* border: 1px solid fuchsia; */
    padding-left: 20px;
 }
.social-icons a{
    text-decoration: none;
    font-size: 50px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
    text-align: center;
    padding-top: 20px;
    padding-left: 130px;
    padding-right: 130px; 

}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-10px);
}
.header-text a{
    margin-top: 100px;
}


/* copyright */

.copyright{
    width: 100%;
    text-align:center;
    padding: 25px 2px;
    background-color: #262626;
    font-weight: 300;
    margin-top:50px;
}
.copyright i{
    color: #ff004f;
}

    
}



/* Mobile no-1 */

@media only screen and (max-width: 440px){

/* ----------header-------- */

    #header{
        width: 118%;
        height: 116vh;
        background-image: url(https://wallpapercave.com/uwp/uwp304966.gif);
        background-size:cover;
        background-position:center;
        margin-bottom: 45px;
        
    }

    .header-text{
        margin-top: 50px;
        padding-left: 0px;
        font-size: 28px;
        text-align: center;
        /* border: 1px solid red;  */
        
        
     }
    .header-text h1{
        margin-top: 30px;
        margin-bottom: 400px;
        font-size: 40px;
        /* border: 1px solid green; */
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background-color: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 116vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.9s;
    } 
      nav ul li{
        display: block;
        margin: 25px;
    }
    
    nav ul .fa-solid{
          position: absolute;
          top: 25px;
          left: 95px;
          cursor: pointer;
    } 


    /* ---------about-------- */
   
    .sub-title{
        font-size: 49px;
        margin-bottom: 50px;
        /* border: 1px solid honeydew; */
    }
    #h11{
        text-align: center;
        /* border:1px solid red; */
    }
     .about-col-2{
        /* text-align: center; */
        margin-top: 50px;
        margin-left: 70px;
        /* border: 1px solid red; */
    
     }
    .about-col-1 img{ 
        width: 200px;
        margin-top: -35px;
        margin-left: -50px;
        border-radius: 25px; 
    
        border: 1.5px solid gold;
    }
    
    .details{
        text-align:justify;
        /* padding: 0 14px; */
        color:#ff004f;
        font-weight: bold;
        line-height: 28.9px;
        font-family:Arial, Helvetica, sans-serif;
        font-style: italic;
    }

    .tab-titles{
        /* display: flex; */
        margin: 30px;
        justify-content: space-between;
        /* padding: 20px; */
        /* text-align: center; */
        /* border: 1px solid greenyellow; */
    }

/* ---------Tech Stack---------- */

#TechStack{
    /* border: 1px solid red; */
    margin-top: 80px;
    /* margin-bottom: 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    margin-left: 45px;

}


#skills{
    padding: 30px;
}
.skills-list{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap:40px;
    margin-top: 50px;
}
.skills-list div{
    background: #262626;
    padding: 40px ;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.skills-list div i{
    font-size: 100px;
    margin-bottom: 30px;
}

/* -----------skills------------ */

#skil{
    /* border: 1px solid red; */
    margin-top: 150px;
    margin-left: 50px;

}

.heade{
    margin-bottom: -25px;

}

.containe{
    grid-template-columns: repeat(1,1fr);
    padding: 1px;
    /* border: 1px solid orange; */
}

.containe{
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    font-size: 1.2rem;
}

.skill-bo{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
    /* border: 1px solid fuchsia; */
}

.skill-bo > p{
/* border: 1px solid red; */
padding: 20px 0;
text-align:center;
font-size: 20px;
line-height: 30px;
margin-top: -20px;
}

.skill-bo:hover > .skill-titl::after , .skill-bo:hover > .skill-titl::before{
width:35px ;
}

.imgg{
    transition: 0.5s;
}

.skill-bo:hover .imgg{
    transform: translateY(-20px);
}

.skill-titl{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-titl::after{
  content: '';
  position: absolute;
  bottom: 0;
  right:50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #ff004f;
  transition: .5s;
}

.skill-titl::before{
    content: '';
    position: absolute;
    bottom: 0;
    left:50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #ff004f;;
    transition: .5s;
  }


.skill-titl h3{
    padding-top: 25px;
    padding-bottom: 50px;
    color: #fff;
    margin-top: 0.5rem;
}

.skill-ico{
    height: 190px;
    width: 180px;
    margin-top: 40px;
    border-radius:51% ;
    border: 1.5px solid gold;
    }

    /* ----------Project------------- */

    #project{
        /* padding: 50px 0; */
        padding: 0px;
        /* border: 1px solid red; */
        margin-top: 150px;
        margin-left: 50px;
    }

    .work img{
        width: 350%;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
    }
    .work:hover img{
      transform: scale(57.5);
    }

    
/* contacts */

#contact{
    /* border: 1px solid red; */
    margin-top: 150px;
    margin-left: 50px;

}

.social-icons{     
    margin-top: 25px; 
    
 }
 #ch1{
    /* border: 1px solid fuchsia; */
    padding-left: 20px;
 }
.social-icons a{
    text-decoration: none;
    font-size: 50px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
    text-align: center;
    padding-top: 20px;
    padding-left: 130px;
    padding-right: 130px; 

}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-10px);
}
.header-text a{
    margin-top: 100px;
}


/* copyright */

.copyright{
    width: 100%;
    text-align:center;
    padding: 25px 2px;
    background-color: #262626;
    font-weight: 300;
    margin-top:50px;
}
.copyright i{
    color: #ff004f;
}
}

/*------------- Mobile No - 2 ------------ */


@media only screen and (max-width: 376px){

    /* ---------header----------- */
   
    #header{
        width: 118%;
        height: 116vh;
        background-image: url(https://wallpapercave.com/uwp/uwp304966.gif);
        background-size:cover;
        background-position:center;
        
    }

    .header-text{
        margin-top: 10%;
        padding-left: 50px;
        font-size: 18px; 
        
     }
    .header-text h1{
        margin-top: 30px;
        margin-bottom: 250px;
        font-size: 30px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background-color: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 116vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.9s;
    } 
      nav ul li{
        display: block;
        margin: 25px;
    }
    
    nav ul .fa-solid{
          position: absolute;
          top: 25px;
          left: 95px;
          cursor: pointer;
    } 


    /* ---------about-------- */
   
    .sub-title{
        font-size: 49px;
        margin-bottom: 50px;
        /* border: 1px solid honeydew; */
    }
    #h11{
        text-align: center;
        /* border:1px solid red; */
    }
     .about-col-2{
        /* text-align: center; */
        margin-top: 50px;
        margin-left: 70px;
        /* border: 1px solid red; */
    
     }
    .about-col-1 img{ 
        width: 200px;
        margin-top: -35px;
        margin-left: -50px;
        border-radius: 25px; 
    
        border: 1.5px solid gold;
    }
    
    .details{
        text-align:justify;
        /* padding: 0 14px; */
        color:#ff004f;
        font-weight: bold;
        line-height: 28.9px;
        font-family:Arial, Helvetica, sans-serif;
        font-style: italic;
    }

    .tab-titles{
        /* display: flex; */
        margin: 30px;
        justify-content: space-between;
        /* padding: 20px; */
        /* text-align: center; */
        /* border: 1px solid greenyellow; */
    }

/* ---------Tech Stack---------- */

#TechStack{
    /* border: 1px solid red; */
    margin-top: 80px;
    /* margin-bottom: 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    margin-left: 45px;

}


#skills{
    padding: 30px;
}
.skills-list{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap:40px;
    margin-top: 50px;
}
.skills-list div{
    background: #262626;
    padding: 40px ;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.skills-list div i{
    font-size: 100px;
    margin-bottom: 30px;
}

/* -----------skills------------ */

#skil{
    /* border: 1px solid red; */
    margin-top: 150px;
    margin-left: 50px;

}

.heade{
    margin-bottom: -25px;

}



.containe{
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    font-size: 1.2rem;
}

.skill-bo{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
    /* border: 1px solid fuchsia; */
}

.skill-bo > p{
/* border: 1px solid red; */
padding: 20px 0;
text-align:center;
font-size: 20px;
line-height: 30px;
margin-top: -20px;
}

.skill-bo:hover > .skill-titl::after , .skill-bo:hover > .skill-titl::before{
width:35px ;
}

.imgg{
    transition: 0.5s;
}

.skill-bo:hover .imgg{
    transform: translateY(-20px);
}

.skill-titl{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-titl::after{
  content: '';
  position: absolute;
  bottom: 0;
  right:50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #ff004f;
  transition: .5s;
}

.skill-titl::before{
    content: '';
    position: absolute;
    bottom: 0;
    left:50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #ff004f;;
    transition: .5s;
  }


.skill-titl h3{
    padding-top: 25px;
    padding-bottom: 50px;
    color: #fff;
    margin-top: 0.5rem;
}

.skill-ico{
    height: 190px;
    width: 180px;
    margin-top: 40px;
    border-radius:51% ;
    border: 1.5px solid gold;
    }

    /* ----------Project------------- */

    #project{
        /* padding: 50px 0; */
        padding: 0px;
        /* border: 1px solid red; */
        margin-top: 150px;
        margin-left: 50px;
    }

    .work img{
        width: 350%;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
    }
    .work:hover img{
      transform: scale(57.5);
    }

    
/* contacts */

#contact{
    /* border: 1px solid red; */
    margin-top: 150px;
    margin-left: 50px;

}

.social-icons{     
    margin-top: 25px; 
    
 }
 #ch1{
    /* border: 1px solid fuchsia; */
    padding-left: 20px;
 }
.social-icons a{
    text-decoration: none;
    font-size: 50px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
    text-align: center;
    padding-top: 20px;
    padding-left: 130px;
    padding-right: 130px; 

}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-10px);
}
.header-text a{
    margin-top: 100px;
}


/* copyright */

.copyright{
    width: 100%;
    text-align:center;
    padding: 25px 2px;
    background-color: #262626;
    font-weight: 300;
    margin-top:50px;
}
.copyright i{
    color: #ff004f;
}
}

